<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">

  <script src="https://kit.fontawesome.com/a41e9403cf.js" crossorigin="anonymous"></script>

  <title>Commande validée</title> 
  <!-- title Commande annulée -->
</head>

<body>


    <!-- HEADER -->
    <div class="row">
      <nav class=" header col-12 navbar navbar-light bg-dark">
        <a class="navbar" href="/">
        <img class="mx-3"  src="images/bicycle.png" width="50" height="50" class="logo" alt="">
        The Bike Shop Experience
        </a>
    </nav>
  </div>  

  <div class="container-fluid">
  <div class="row ariane">
      <nav aria-label="breadcrumb" class="col-12">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Shop</a></li>
              <li class="breadcrumb-item" aria-current="page"><a href="/shop">Basket</a></li>
              <li class="breadcrumb-item active" aria-current="page">Validation</li>
          </ol>
      </nav>
  </div>
  
  <section>
    <h4>Votre paiement a échoué 😥</h4>
    <p>
      Besoin de modifier votre commande ? Retournez directement sur votre panier ! 
      Pour toute demande, merci de nous contacter à  
      <a href="mailto:fandersson1121@gmail.com">fandersson1121@gmail.com</a>.
    </p>
  </section>
</div>

  <!-- jquery & Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>