/* ------ Body ---- */

body{
    background-color: rgba(252, 196, 188, 0.1);
    font-family: 'Darker Grotesque', sans-serif;
} 

/* ---------- Home page -------------- */

.jumbotron {
    background-image: url('/images/bike-background.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
  }


.navbar{
    height: 5rem;
    padding:0px ;
    color: #FFFFFF;
    
}

.navbar:hover{
    color: #f5a16a !important;
}

.navbar:link{
    text-decoration:none;
    font-size: 20px;
}
.logo{
    margin-left: 10px;
}

.btn-warning {
    border-color: #F87C68 !important;
    background-color: #F87C68 !important;
    color: white !important;
}

.btn-warning:hover {
    background-color: #d37263 !important;
}

.card img {
    width: 100%;
}

/* ----- Shop page ---------- */

.header-shop{
    height: 40px;
    padding-left: 20px;
}

.icon-basket{
    margin-right: 5px;
}

.ariane {
    margin-top: 25px;
}

.basket-img {
    width: 100px;
}

.basket-item {
    background-color: #F8F8F8;
}

.total-box {
    font-weight: bold;

}

.btn-checkout {
    font-weight: bold;
}

/* Carousel MEA */


#mea-btn {
    color: white;
    border: none !important;
}

#mea {
    background-color: burlywood;
}

.carousel-caption { 
    color: black !important;
}